    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 0;
        padding: 0;
        background-color: #fffaeb;
    }

    h1 {
        text-align: center;
    }

    /* Coisas relacionadas ao Menu */

    td {
        border-width: 1px;
        border-color: #9d8189 !important;
        border-style: solid;
    }

    table {
        border-width: 1px;
        border-color: #9d8189 !important;
        border-style: solid;
        border-spacing: 0px;
    }

    .bg-light {
        background-color: #f4acb7 !important;
        margin-bottom: 50px;
    }

    /* Coisas relacionadas a Página Contato */

    [name="contato"] {
        height: 100px;
        width: 460px;
    }

    #contato div {
        padding: 10px;
    }

    form input:focus {
        border-color: #9d8189;
        border-width: 3px;
        text-decoration: none;
        outline: 0;
        border-style: solid;
    }

    #contato {
        background-color: #f4acb7;
        width: 500px;
        margin: 0 auto;
    }

    .form-group {
        margin-top: 30px;
    }

    #contato .btn.btn-primary {
        background-color: #9d8189 !important;
        border-color: #9d8189 !important;
        margin: 0 auto;
        display: flex;
    }

    #contato .btn.btn-primary:hover {
        background-color: #7b676d !important;
        border-color: #7b676d !important;
    }

    #contato2{
        text-align: center;
    }